{% extends "base.html" %}
{% load static %}
{% block title %}Add New Employee Records{%endblock title%}
{% block content %}

<div class="col-md-12">

    <h4>Django CRUD</h4>
    <span>
        <a href="{% url 'addnew' %}" class="btn btn-primary">Add new Record</a>
    </span>
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
            <th>employee</th>
            <th>date</th>
            <th>visited</th>
            <th>time_visit_start</th>
            <th>time_visit_end</th>
            <th>reason</th>
            </thead>
            <tbody>
            {% for visit in list_visits %}
            <tr>
                <td><a class="a-link" href="#">{{ visit.employee}}</a> </td>
                <td><a class="a-link" href="#">{{ visit.date}}</a> </td>
                <td>{{ visit.visited}}</td>
                <td>{{ visit.time_visit_start}}</td>
                <td>{{ visit.time_visit_end}}</td>
                <td> {{ visit.reason}} </td>


            {%endfor%}

            </tbody>
        </table>
    </div>
</div>
{%endblock content%}
